.contact1{
    background: white;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 10px;
}
.contact2{
    background: white;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-left: 200px;
}

.view {
    border-style: solid;
    border-width: 2px;
    height:670px;
    width: 400px;
    align-items: center;
    text-align: center;
    margin-left:150px;


}

.conclusion{
    background: white;
    text-align: right;
    margin: 0;
    padding: 30px;
}

.contact-img{

    height: auto;
    filter: brightness(95%);
    position: relative;

}

.text-block {
    position: absolute;
    bottom: 197px;
    right: 530px;
    font-size: 20px;
    background-color: darkgray;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 300px;
    margin-top: 100px;


}