html {
    scroll-behavior: smooth;
  }
.pure-form-mine{
    background-color: transparent;
    padding-top: 20px;
}
.pure-form-section{
    display: flex;
    justify-content:  flex-end;
    background-color: transparent;
}

.search-button-name{
    z-index: 1;
    position: absolute;
    top:100px;
    left:220px
}

.search-field-name{
    z-index:1;
    position: absolute;
    top:100px;
    left:20px

}
.view_wishlist{
    z-index:1;
    position: absolute;
    top:250px;
    left:20px
}

.search-button-category{
    z-index:1;
    position: absolute;
    top:140px;
    left:220px
}

.search-field-category{
    z-index:1;
    position: absolute;
    top:140px;
    left:20px
}

.send_email{
    z-index:1;
    position: absolute;
    top:200px;
    left:20px
}

.fields-form{
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
}

.CreateAccount {
    margin-top: 60px;
    margin-left: 270px;
    position: absolute;
    top: 5%;
    width: 60%;
    height: 450px;
    background-color: rgba(237, 238, 197, 0.5);
  
}



.Account {
   z-index: 100;
    align-items: center;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    color: black;
}

.Account label {
    color: black;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
}

.Register {
    margin-bottom: 20px;
}
.ResetPassword {
    margin-bottom: -30px;

}

.username, .password, .email {
    margin-top: 15px;
    width: 310px;
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
}

.buttonCreate {
    margin-top: 50px;
}
.buttonCreate2 {
    margin-top: 50px;
    margin-left: 160px;
}

.username, .password, .email  Input{
   padding: 10px;

}

#passwordField ,#usernameField, #emailField, #locationField, #photoField {
    padding: 7px;
    border-radius: 10px; 
}

#nameFieldInput, #locationFieldInput, #phoneFieldInput, #photoFieldInput {
    padding: 7px;
    border-radius: 10px; 
}



.rest-group {
    display: flex;
   flex-direction: row;
    justify-content: space-between;
    width: 600px;
    padding: 15px;
    
}

.manager-elements label {
    margin-top: 5px;
    margin-right: 10px;
}

.manager-elements {
    font-size: 18px;
    align-items: center;
   display: flex;
   flex-direction: column;
   margin-top: 100px;
   padding: 15px;
   color: white;
  
}

.manager-elements h1 {
    margin-bottom: 130px;
    color: rgba(221, 208, 134, 1);
}

.rest-sub {
    background-color:rgba(221, 208, 134, 1);
    color:black;
    font-weight: bold;
    padding: 10px;
}


#name, #location, #phone{
    padding: 10px;
    border-radius: 10px;
    color: white;
}



.btnCrt {
    
    background-color:rgba(221, 208, 134, 1);
    color:black;
    font-weight: bold;
    padding: 7px;    
    margin-left: 10px;
}



.rst-modal{
   background-color: red;
   width: 50%;
   position: absolute;
   top: 0
}

.my-reset-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
    
}
.reset-background {
    background-color: rgba(237, 238, 197, 0.5);
    display: flex;
    flex-direction: column;
    padding: 40px 180px;
    margin-bottom: 40px;
    margin-left: 200px;
    width: 120%;
    height: 500px;


}

.reset-item {
    margin: 25px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
.reset-title {
    text-align: center;
    font-size: 42px;
    color:  rgb(237, 238, 197);
}
.reset-title p {
    color:  rgb(237, 238, 197);
}
.reset-item-button {
    background-color:rgba(221, 208, 134, 1);
    color: black;
    font-weight: bold;


    
}
.reset-item-button:hover {
    background-color: black;
    color: white;
}
.header-home{
    z-index: 100;
    width: 100%;
    height: 80px;
    position:absolute;

}

.header-home2{
    z-index: 100;
    width: 100%;
    height: 100px;
    position:absolute;

}

.header-home:hover{
    background-color:rgba(221, 208, 134, 1); 
    transition: .5s;
}
.header-home button{
    background-color:rgba(221, 208, 134, 1);
    color:black;
    font-weight: bold;
}

.header-home:hover button{
    background-color: black;
    color:white;
}
.header-home:hover #allergies a{
    color: white
}
.header-home:hover #disadvantaged-donations a, .header-home:hover #donations-btn a{
    color: white
}
.main-home{
    width: 100%;
    height: 900px;
    background-image: url('../assets/images/travel1.png');
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 0;
    padding: 0;
    display: flex;
    position:relative;
}

.user-home{
    width: 100%;
    height: 900px;
    background-image: url('../assets/images/imguser.jpg');
    background-repeat: repeat;
    background-size:cover;
    margin-top: 0;
    padding: 0;
    display: flex;
    position:relative;
}

.admin-edit{
    z-index: 1;
    width: 100%;
    height: 300px;
    background-image: url('../assets/images/edit1.jpg');
    background-repeat: repeat;
    background-size:cover;
    margin-top: 0;
    padding: 0;
    display: flex;
    gap: 10px 20px;
    align-items: center;
    position:relative;
}

.admin-home{
    z-index: 1;
    width: 150%;
    height: 300px;
    background-image: url('../assets/images/tabel1.jpg');
    background-repeat: repeat;
    background-size:cover;
    margin-top: 0;
    padding: 0;
    display: flex;
    position:relative;
}

.main-home-admin{
    width: 100%;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
}

.main-header{
    opacity: 1;
    top:40%;
    width: 100%;
    left:50%;
    transform: translate(-50%,-50%);
    padding-top:55px;
    color: black;
    background-color: rgba(237, 238, 197, 0.5);
    height: 100px;
    text-align: center;
    position:absolute;
    border-radius: 10px;
    
}

#log-out{
    margin-right: 50px;
}
.options-container-admin{
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 900px;
    /* margin-top:170px; */
    margin-left:auto;
    margin-right:auto;
    background-repeat: no-repeat;
    background-size:cover;

}
.choices{
    margin-top:200px;
    background-color: rgba(237, 238, 197, 0.5);
    height: 300px;

}
.options-ul-admin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 300px;


}
.options-container-admin h2{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.options-admin{
    background-color:rgba(235, 204, 68, 0.945); 
    width: 20%;
    height: 200px;
    padding-top:0;
    margin-bottom: auto;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.options-admin a{
    text-align: center;
    font-size: x-large;
    padding-top: 70px;
    font-weight: bold;
    height: 35px;
    cursor: pointer;
    text-decoration: inherit;
    color: inherit;
}
.options-admin:hover a{
border-bottom: 3px inset white;
}
.options-admin:hover {
    background-color:black;
    color: white;
    transition: .5s;
    
}

.information-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#section1{
    height: 890px;
    width: 100%;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#section2{
    height: 790px;
    width: 100%;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#section3{
    height: 1100px;
    width: 100%;
    background-color:white;
}
#section4{
    height: 790px;
    width: 100%;
    background-color:white;
}
#section1 h1{
    margin-top:0;
    padding-top: 20px;
    background-color:rgba(235, 204, 68, 0.945);
    color:black;
    height: 70px;
    text-align: center;
    font-weight: bold;

}
#section1:hover h1{
    background-color:black;
    color:white;
}
#section2:hover h1{
    background-color:black;
    color:white;
}
#section3:hover h1{
    background-color:black;
    color:white;
}
#section4:hover h1{
    background-color:black;
    color:white;
}
#section2 h1{
    margin-top:0;
    padding-top: 20px;
    background-color:rgb(180, 221, 134);
    color:black;
    height: 70px;
    text-align: center;
    font-weight: bold;

}#section3 h1{
    margin-top:0;
    padding-top: 20px;
    background-color:rgba(235, 204, 68, 0.945);
    color:black;
    height: 70px;
    text-align: center;
    font-weight: bold;
}#section4 h1{
    margin-top:0;
    padding-top: 20px;
    background-color:rgb(180, 221, 134);
    color:black;
    height: 70px;
    text-align: center;
    font-weight: bold;
}

.add-update-form h2{
    text-align: center;
}

  #header-admin-table{
      background-color: black;
      color: white;
  }


  #managers-people {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #managers-people td{
    border: 1px solid #ddd;
    padding: 8px;
  }


.buttons-form{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.button-user {
    background-color:rgba(221, 208, 134, 1);
    color:black;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    
}
.button-user:hover{
    background-color:black;
    color:white;
}

.buttons-form button{
    background-color:rgba(221, 208, 134, 1);
    color:black;
    font-weight: bold;
    border-radius: 10px;
}
.buttons-form button:hover{
    background-color:black;
    color:white;
}

footer{
    height: 70px;
    width: 100%;
    background-color:black;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    color:white;
    z-index: 120;
}

.icons{
    width: 30%;

}
.icons-ul{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;



}

.leftQuote{
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    text-align: center;


}
.rightQuote{
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    text-align: center;

}

.icons-ul li{
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 40px;
    list-style: none;
    z-index: 100;


}
.icon{
    background-image: url('../assets/images/facebook.gif');
    background-size:cover;
    opacity: 0.5;
        z-index: 100;

}
/* .icon a{
    z-index: 100;
    background-image: url('../assets/images/facebook.gif');
    background-size:cover; /*Ceeeeeeeeeeeeeeeeeeel mai important!?
    opacity: 0.5;
        z-index: 100;
} */
#facebook{
    background-image: url('../assets/images/facebook.gif');
    background-size:cover; /*Ceeeeeeeeeeeeeeeeeeel mai important!?*/
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border-width: 4px;
    border-color: #ffffff;
    cursor: pointer;
    opacity: 0.5;
}
#facebook:hover{
    opacity: 1;
}
#instagram{
    background-image: url('../assets/images/instagram2.gif');
    background-size:cover;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border-width: 4px;
    border-color: white;
    cursor: pointer;
    opacity: 0.5;
}
#instagram:hover{
    opacity: 1;
}

.box {
    width: 500px;
    height: 180px;
    margin: 10px;
    padding: 25px;
    border: 0px;
    margin-left: 400px;
    background-color:  rgba(237, 238, 197, 0.5);
}



#twitter{
    background-image: url('../assets/images/twitter.gif');
    background-size:cover;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border-width: 4px;
    border-color: white;
    cursor: pointer;
    opacity: 0.5;
}
#twitter:hover{
    opacity: 1;
}


#log-out{
    background-color:rgba(221, 208, 134, 1);
    color:black;
    font-weight: bold;
}

.header-home:hover #log-out{
    background-color: black;
    color:white;
}
.cart-div{
    width: 30px;
    height: 37px;
    margin-right: 10px;
    margin-top: -8px;
    font-size: x-large;

}
.infor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cos{
   font-size: x-large;
   align-items: center;
   cursor: pointer;
}

.pr-form-item {
     padding: 10px;
     width: 300px;
     border-radius: 10px;
      
}

.pr-form-item-discount {
    margin-top: 7px;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
     
}
.descr {
    height: 150px;
}

.add-pr-sbm {
    background-color:rgba(221, 208, 134, 1);
    color:black;
    font-weight: bold;
}

.upd-pr-sbm {
    margin-top: 10px;
    background-color:rgba(221, 208, 134, 1);
    color:black;
    font-weight: bold;
   
}
.button-user a {
    text-decoration: none;
    color: black;
}
.button-user a:hover {
    color: white;
}
.button-user:hover {
    color: white;
}

.upd-pr-sbm a {
    text-decoration: none;
    color: black;
}

.products-information {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    margin-top: 5%;
    transform: translate(-50%, 0);
}

#add-product-form {
    position: relative;
    height: 900px;
    display: flex;
    flex-direction: column;
}

.product-table-form {
    height: 800px;
}
.prod-title {
    color: white;
    text-align: center;
}

.manager-btn a {
    text-decoration: none;
    color: white;

}
.manager-btn-select a {
    text-decoration: none;
    color: white;

}

#products-table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    background-color: rgba(221, 208, 134, 0.5);
  }

  #products-table td, #products-table th {
    border: 1px solid #ddd;
    padding: 8px;
    color: white
  }

#header-products-table {
    text-align: center;
    color:rgb(87, 84, 70);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    background-color: rgba(221, 208, 134, 0.65);

}


.restaurant-information{
    display: flex;
    flex-direction: row;
    width: 700px;
    background-color: rgba(237, 238, 197, 0.5);

    justify-content:space-evenly ;
    border-radius: 10px;

}



#loc{
    display: none;    
    transition: display 4s;


}
#pho{
    display: none;    
    transition: display 4s;


}

.one{
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 80px;
    cursor: pointer;
    background-color: rgba(237, 238, 197, 0.5);

    color: black;


}
.one:hover{
    background-color: rgba(0, 0, 0, 0.808);
    color: white;

}
.two{
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 80px;
    cursor: pointer;
    background-color:white;
    background-color: rgba(237, 238, 197, 0.5);

    color: black;

}
.two:hover{
    background-color: rgba(0, 0, 0, 0.808);
    color: white;

}

.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .h2-modal{
      text-align: center;
  }
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: 650px;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .modal-container{
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      overflow-y: scroll;
  }


  .modal-buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  .modal-buttons p{
      font-weight: bold;
      font-size: large;
  }
  .button-send{
    background-color:rgba(221, 208, 134, 1);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: none;

  }
  .button-close{
    border-radius: 10px;
    background-color:rgba(221, 208, 134, 1);
    color: black;
    font-weight: bold;
    height: 50px;
    width: 100px;
    border: none;
  }
  .button-send:hover{
      background-color: green;
      color:white;
  }
  .button-close:hover{
    background-color: red;
    color:white;
}
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }


 
.chart-container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.chart-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chart-item {
    width: 20%;
}


.box {
    width: 600px;
    height: 230px;
    margin: 10px;
    padding: 25px;
    border: 0px;
    margin-left: 350px;
    background-color:  rgba(250, 250, 197, 0.8);
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.main-home2{
    width: 100%;
    height: 700px;
    background-image: url('../assets/images/img8.jpg');
    background-repeat: repeat-y;
    background-size:cover;
    margin-top: 0;
    padding: 0;
    display: flex;
    position:relative;

}


.buttonDetails{
    width: 100px;
    height: 30px;
    background-color: rgba(100, 100, 250, 0.3);
    border: 0px;
    margin-left: 350px;
    margin-top: 0px;
}

.buttonWishlist{
    width: 100px;
    height: 50px;
    background-color: rgba(100, 100, 250, 0.3);
    border: 0px;
    margin-left: 450px;
    top: -50px;
}

.box {
    width: 600px;
    height: 230px;
    margin: 10px;
    padding: 25px;
    border: 0px;
    margin-left: 350px;
    background-color:  rgba(250, 250, 197, 0.8);
}



.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.columnWish {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-top: -50px;
}

.column2 {
    float: left;
    width: 43.33%;
    padding: 5px;
    margin-left: 200px;
}

.column3 {
    float: right;
    padding: 5px;
    margin-top: -350px;
    margin-left: 50px;
}

.column4 {
    float: left;
    width: 23.33%;
    padding: 5px;
    margin-left: 200px;
}

.columnReview {
    float: left;
    width: 23.33%;
    padding: 5px;
    margin-left: 100px;
}
.columnWishlist {
    float: left;
    width: 23.33%;
    padding: 5px;
    margin-left: 500px;
}

.column5 {
    float: left;
    width: 50.33%;
    padding: 5px;
    margin-top: 40px;
}
.App23 {
    text-align: center;
}


.App-header43 {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}